* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: visible;
    background-color: rgba(24, 24, 24, 1);
}

body * {
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

ul, li {
    list-style: none;
}

.navigation {
    line-height: 1.25rem;
    font-weight: 500;
}

.nav_wrapper {
    display: flex;
    background-color: rgba(255, 170, 76, 1);
    padding: 0 60px;
}

.nav_mode {
    padding: 9px 40px;
    cursor: pointer;
}


.nav_list {
    padding: 0 60px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    position: relative;
}
.nav_burger {
    display: none;
    position: absolute;
    padding: 16px;
}

.nav_burger-btn {
    border-radius: 5px;
    width: 24px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
}

.nav_burger-btn::before, 
.nav_burger-btn::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 1);
}

.nav_burger-btn::before {
    top: 7px;
}

.nav_burger-btn::after {
    bottom: 7px;
}

.contact_btn {
    padding: 16px 30px;
    border-radius: 16px;
    background-color: rgba(149, 76, 237, 1);
    border: none;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.logo {
    margin-right: 8px;
}
.logo_box {
    font-weight: 600;
    font-size: 2.3125rem;
    display: flex;
    align-items: center;
}

.currentMode {
    border-radius: 20px 20px 0 0;
    background-color: rgba(24, 24, 24, 1);
    color: rgba(255, 255, 255, 1);
}

/* Burger_menu */

.burger_menu * {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
}

.burger_menu {
    padding: 0 16px;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    gap: 170px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(24, 24, 24, 1);
    z-index: 100;
}

.burger_menu .contact_btn {
    align-self: flex-start;
    width: 93%;
}

.burger_menu__list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 16px;
    transition: all .3s;
}

.burger_menu__list:hover,
.burger_menu__list:active {
    color: rgba(255, 170, 76, 1);
}
.burger_close {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 15px;
}
.burger_close-btn {
    height: 2px;
    width: 24px;
    border-radius: 10px;
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 1);
}
.burger_close-btn::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 1);
}
/* Burger_menu */


/* Alert Thank */


.alert_thank {
    background-color: rgba(255, 255, 255, 1);
    width: 420px;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.alert_thank__content {
    display: flex;
    flex-direction: column;
    position: relative;
}


.alert_thank__img {
    width: 100%;
}
.alert_thank__title {
    color: rgba(166, 76, 237, 1);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    margin-top: 10px;
}
.alert_thank_descr {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    margin-top: 20px;
    text-align: center;
}

.alert_thank__btn {
    background-color: rgba(166, 76, 237, 1);
    padding: 16px;
    margin: 20px 40px 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
}


/* Cookie */

.cookie {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    width: 90%;
    border-radius: 16px;
    opacity: 0; 
    animation: cookieShow 1.5s ease-out forwards;
    animation-delay: 1s;
}

.cookie_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 30px;
    position: relative;
}

.cookie_text {
    width: 90%;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 28px;
}

.cookie_buttons {
    display: flex;
    gap: 20px;
}

.cookie_btn {
    padding: 16px 30px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.close_small {
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 16px;
    cursor: pointer;
}

.close_small-btn {
    background-color: rgba(185, 185, 185, 1);
    width: 2px;
    height: 15px;
    transform: rotate(45deg);
}
.close_small-btn::after {
    content: '';
    display: block;
    background-color: rgba(185, 185, 185, 1);
    width: 2px;
    height: 15px;
    transform: rotate(90deg);
}

.accept {
    background-color: rgba(149, 76, 237, 1);
    color: rgba(255, 255, 255, 1);
}

.decline {
    border: 2px solid rgba(149, 76, 237, 1);
    background-color: inherit;
}

@keyframes cookieShow {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 30px;
        opacity: 1;
    }
}


/* Contact-Form */
.contact_form {
    background-color: rgba(255, 255, 255, 1);
    max-width: 420px;
    border-radius: 20px;
    padding: 40px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.contact_form .close_small {
    top: 16px;
    right: 16px;
}

.contact_form__inputs form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact_form__inputs form input {
    padding: 9px 16px;
    border-radius: 14px;
    border: 1px solid rgba(241, 241, 241, 1);
}


.contact_form__inputs form input::placeholder {
    font-size: 0.875rem;
    line-height: 24px;
    color: rgba(167, 167, 167, 1);
}

.contact_form__inputs form label {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 24px;
    position: relative;
    color: rgba(7, 7, 7, 1);
}

.contact_form__inputs form label[for='submit'] {
    font-weight: 300;
    line-height: 14px;
    margin: 20px 0;
}

.contact_form__inputs form label[for='submit'] span {
    color: rgba(149, 76, 237, 1);
    text-decoration: underline;
    
}

.contact_form__inputs form label  sup {
    color: rgba(255, 108, 45, 1);
}


.contact_form__inputs form input[type='submit'] {
    padding: 16px 30px;
    background-color: rgba(185, 185, 185, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.unrequired_text {
    color: rgba(236, 18, 17, 1);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 20px;
}

/* Main */

/* Chief-section */

.title {
    font-size: 6rem;
    font-weight: 700;
    line-height: 101px;
}


.paragraph {
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}

.chief * {
    color: rgba(255, 255, 255, 1);
}

.chief {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    margin-bottom: 100px;
}

.chief_descr {
    width: 80%;
}

.chief_img {
    max-width: 520px;
    opacity: 0.005;
}

/* Section About */

.about * {
    color: rgba(255, 255, 255, 1);
}

.about {
    margin-bottom: 100px;
    background-image: url(./img/about/logo-.png);
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.about_text {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 110px;
    margin-left: 60px;
    margin-top: 80px;
}

.about_descr {
    font-size: 24px;
}

.about_parag {
    width: 70%;
}

.about_list {
    display: grid; 
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
}

.about_title {
    margin-left: 60px;
}

.about_subtitle {
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
}


.about_img {
    width: 100px;
    margin-bottom: 10px;
}

/* Section App */

.app_wrapper {
    text-align: center;
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
}

.app_img {
    width: 300px;
    height: auto;
    position: relative;
    z-index: 1;
}

.moving_text {
    position: absolute;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 0;
    font-size: 8rem;
    line-height: 135px;
    text-wrap: nowrap;
    font-weight: 800;
}

.green {
    color: rgba(47, 219, 188, 1);
    animation: moveTextLeftToRight 30s linear infinite;
}
.orange {
    color: rgba(255, 170, 76, 1);
    animation: moveTextRightToLeft 30s linear infinite;
    top: 220px;
}
.purple {
    color: rgba(166, 76, 237, 1);
    animation: moveTextLeftToRight 30s linear infinite;
    top: 440px;
}


.green::after,.orange::after,.purple::after {
    content: "How Budss Works";
    color: transparent;
    -webkit-text-stroke: 1px rgba(68, 68, 68, 1);
    position: absolute;
    right: 1100px;
}
.green::before,.orange::before,.purple::before {
    content: "How Budss Works";
    color: transparent;
    -webkit-text-stroke: 1px rgba(68, 68, 68, 1);
    position: absolute;
    left: 1100px;
}

@keyframes moveTextLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes moveTextRightToLeft {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Section Discout */

.discout {
    background-color: rgba(149, 76, 237, 1);
    margin-bottom: 100px;
}

.discout_list * {
    color: rgba(255, 255, 255, 0.7);
}

.discout_list {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 0;
    text-align: center;
}

.discout_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discout_value {
    font-size: 4rem;
    font-weight: 700;
    line-height: 67px;
}

.discout_descr {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

/* Section WhyUs */

.whyus .whyus_title {
    font-size: 4rem;
    line-height: 67px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.whyus_subtitle {
    font-size: 2.25rem;
    line-height: 45px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 20px;
}

.whyus_boxes {
    display: grid;
    gap: 20px;
    margin: 70px 70px 100px;
}
.whyus_boxes {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 360px)
}
.customers {
    grid-column: 1 / 4;
    grid-row: 1;
}

.power {
    grid-column: 4 / 6;
    grid-row: 1;

}

.cashback {
    grid-column: 1 / 3;
    grid-row: 2;
    background-image: url('./img/whyUs/like-emoji.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.cashback .whyus_descr {
    max-width: 50%;
}

.ai {
    grid-column: 3 / 6;
    grid-row: 2;
}

.package_img {
    position: absolute;   
    z-index: 0;
}

.package1 {
    max-width: 88px;
    max-height: 162px;
    right: 0;
    top: 80px;
}

.package2 {
    max-width: 93px;
    max-height: 86px;
    bottom: 0;
    right: 40px;
}
.package3 {
    max-width: 72px;
    max-height: 4rem;
    bottom: 0;
}

.whyus_box {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 30px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
}

.whyus_text {
    padding: 40px 40px 0 20px;
    position: relative;
    z-index: 10;
}

.whyus_descr {
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
}

.whyus_reason {
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
}

.whyus_img {
    width: 300px;
    border-radius: 30px  0 0 30px;
}

/* Section grow */

.grow {
    background-color: rgba(245, 245, 245, 1);
    padding: 1px 0;
}

.grow_textwrap {
    margin: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 60px;
}

.grow_title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 67px;
    margin: 60px 0 40px;
}

.grow_btn {
    margin-bottom: 60px;
}

/* Section Brand */

.brand {
    background-color: rgba(245, 245, 245, 1);
}

.brand_content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 40px;
}

.brand_descr {
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
}

.brand_icons {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(2, 90px);
    gap: 40px;
}

.brand_img {
    width: 100px;
    height: 100px;
}

.facebook {
    grid-column: 1 / 2;
    grid-row: 1;
}

.insta {
    grid-column: 3 / 4;
    grid-row: 1;
}

.twitter {
    grid-column: 2 / 3;
    grid-row: 2;
}

.tiktok {
    grid-column: 4 / 5;
    grid-row: 2;
}

/* Section Companies */

.companies {
    background-color: rgba(245, 245, 245, 1);
    padding: 100px 0;
}

.companies_elements {
    display: flex;
    gap: 90px;
    margin: 0 50px;
    justify-content: center;
}

.companies_img {
    max-width: 16%;
    max-height: 60px;
    object-fit: contain;
}


/* Footer */

.footer {
    padding: 40px 60px 20px;
    color: rgba(255, 255, 255, 1);
}

.footer_main-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_main-item img {
    max-width: 200px;
}

.footer_main-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer_main-text {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    cursor: pointer;
}

.footer_main-icons {
    display: flex;
    gap: 20px;
}

.footer_main-icons * {
    cursor: pointer;
}


.footer_line {
    background-color: rgba(68, 68, 68, 1);
    height: 2px;
    border-radius: 2px;
    border: none;
    margin: 30px 0 20px;
}

.footer_legal-list {
    color:rgba(185, 185, 185, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
}

.footer_legal-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer_legal-link {
    color: rgba(185, 185, 185, 1);
}

/* Media screen ; Adaptive */

@media screen and (max-width: 1340px) {
    .whyus_reason {
        font-size: 2.5rem;
        line-height: normal;
    }
    .brand_content {
        grid-template-columns: 1fr 1fr;
    }
    .companies_elements {
        gap: 70px;
    }
    .footer_main-item {
        gap: 15px;
    }
    .whyus_text {
        padding: 20px 20px 0 20px;
    }
}


@media screen and (max-width: 1160px) {
    .chief {
        margin-left: 60px;
    }
    .contact_btn {
        padding: 15px;
        font-size: 1rem;
    }
    .title {
        font-size: 5.3rem;
        line-height: 88px;
    }
    .about {
        background-size: 260px ;
    }
    .about_list {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 40px;
    }
    .about_parag {
        width: 50%;
        margin: 5px 0;
    }
    .about_subtitle {
        font-size: 2rem;
    }
    .footer_main-icons img {
        max-width: 150px;
    }
    .footer_main-text {
        font-size: 1rem;
    }
    .logo_box {
        font-size: 2rem;
    }
    .whyus_reason {
        font-size: 2rem;
    }
    .whyus_subtitle {
        font-size: 2rem;
    }
    .whyus_descr {
        font-size: 1rem;
    }
    .whyus_boxes {
        grid-template-rows: repeat(2, 320px);
    }
    .whyus_img {
        width: 260px;
    }
    .brand_title {
        font-size: 4rem;
        line-height: 77px;
    }
    .brand_descr {
        font-size: 1.1rem;
    }
    .brand_content {
        grid-template-columns: 1fr 1.5fr;
    }
    .companies_elements {
        gap: 40px;
    }

}


@media screen and (max-width: 992px) {
    .chief {
        flex-direction: column;
        gap: 130px;
        margin: 0 0 100px 0;
    }
    .chief_text {
        display: flex;
        flex-direction: column;
        margin: 50px 16px 0;
    }
    .chief_img {
        margin-left: 50px;
        max-width: 100%;
    }
    .chief_descr {
        margin: 0 0 40px 0;
        width: 100%;
    }
    .grow_title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 0 ;
    }
    .grow_textwrap {
        margin: 40px 16px;
        align-items: unset;
    }
    .grow_btn {
        margin: 40px 20px;
    }
    .title {
        font-size: 2.5rem;
    }
    .moving_text {
        font-size: 4.5rem;
        line-height: 80px;
    }
    .green {
        top: 50px;
    }
    .orange {
        top: 250px;
    }
    .purple {
        bottom: 200px;
    }
    .green::after,.orange::after,.purple::after {
        right: 650px;
    }
    .green::before,.orange::before,.purple::before {
        left: 650px;
    }
    .whyus_text {
        padding: 20px;
    }
    .discout_list {
        gap: 20px;
    }
    .discout_descr {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .discout_value {
        font-size: 3rem;
    }
    .whyus_boxes {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }
    .whyus_descr {
        margin-top: 5px;
    }
    .whyus_img {
        width: 220px;
    }
    .cashback {
        background-size: 200px;
    }
    .package1 {
        width: 70px;
        height: 120px;
        top: inherit;
        bottom: 10px;
    }
    .package2 {
        right: 120px;
    }
    .cookie {
        left: 48%;
    }
    .cookie_content {
        padding: 20px 50px 20px 20px;
    }
    .cookie_buttons {
        flex-direction: column;
    }
    .customers {
        grid-column: auto;
        grid-row: auto;
    }
    .power {
        grid-column: auto;
        grid-row: auto;
    }
    .cashback {
        grid-column: auto;
        grid-row: auto;
    }
    .ai {
        grid-column: auto;
        grid-row: auto;
    }
    .brand_content {
        grid-template-columns: 1.3fr 1fr;
        gap: 20px;
    }
    .brand_title {
        line-height: 62px;
    }
    .brand_icons {
        grid-template-columns: repeat(2, 90px);
        grid-template-rows: repeat(4, 90px);
        gap: 15px;
    }
    .facebook {
        grid-column: 1 / 2;   
        grid-row: 1;
    }
    .insta {
        grid-column: 2 / 3;
        grid-row: 2;
    }
    .twitter {
        grid-column: 1 / 2;
        grid-row: 3;
    }
    .tiktok {
        grid-column: 2 / 3;
        grid-row: 4;
    }

    .footer_main-list,
    .footer_legal-list {
        flex-direction: column;
        gap: 10px;
    }
    
}


@media screen and (max-width: 575px) { /*for phones*/

    .cookie {
        left: 45%;
        width: 80%;
    }

    .cookie_content {
        padding: 30px 20px;
        margin: 0 16px;
        flex-direction: column;
        align-items: unset;
    }

    .cookie_buttons {
        margin-top: 40px;
    }

    .close_small {
        top: 10px;
    }

    .alert_thank {
        width: 280px;
    }

    .alert_thank_descr {
        font-size: 1rem;
    }

    .contact_form {
        width: 280px;
        padding: 20px;
        left: 46.5%;
    }

    .nav_wrapper {
        padding: 0 16px;
    }

    .nav_burger {
        display: block;
        right: 1px;
        top: 1px;
    }
    
    .nav_list .contact_btn {
        display: none;
    }

    .nav_list {
        padding: 0 16px;
    }


    .about {
        background-image: none;
        margin: 0;
    }

    .about_title {
        margin: 0 16px;
    }

    .discout {
        margin-bottom: 40px;
    }

    .about_parag {
        width: 100%;
    }

    .about_text {
        margin: 30px 16px 40px;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .grow_textwrap {
        padding: 40px 20px;
    }

    .app {
        margin-bottom: 40px;
    }
    .app_img {
        width: 80%;
    }

    .discout_list {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .burger_menu {
        gap: 0;
    }

    .discout_item {
        flex-direction: row;
        gap: 20px;
    }

    .whyus_boxes {
        margin: 40px 16px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(min-content, 400px));
    }

    .whyus_img {
        width: 180px;
        border-radius: 0px 0 0 30px;
    }

    .customers {
        flex-direction: column-reverse;
    }
    .ai {
        flex-direction: column;
    }
    .ai img {
        align-self: flex-end;
        margin-right: 55px;
    }


    .brand_content {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }
    .brand_title {
        line-height: 42px;
    }
    .brand_icons {
        grid-template-columns: repeat(4, 65px);
        grid-template-rows: repeat(2, 90px);
    }
    .companies_elements {
        flex-wrap: wrap;
        margin: 0 20px;
    }
    .companies_img {
        max-width: 40%;
    }
    .facebook {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    
    .insta {
        grid-column: 3 / 4;
        grid-row: 1;
    }
    
    .twitter {
        grid-column: 2 / 3;
        grid-row: 2;
    }
    
    .tiktok {
        grid-column: 4 / 5;
        grid-row: 2;
    }

    .footer {
        padding: 40px 40px 20px;
    }
    .footer_main-list,
    .footer_main-item,
    .footer_main-icons {
        display: block;
    }
    .footer_main-item .logo_box {
        margin-bottom: 40px;
    }
    .footer_main-item .footer_main-icons {
        display: flex;
        flex-direction: column;
    }
    .footer_main-item .contact_btn {
        margin: 40px 0;
    }
    .footer_legal-list {
        flex-direction: column;
    }
    .footer.line {
        margin: 40px 0 10px;
    }
}

